# =====================================================

# Terraform

# =====================================================

**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# =====================================================

# Database Files

# =====================================================

databases/*
!databases/.gitkeep

# =====================================================

# Tools

# =====================================================

tools/*
!tools/.gitkeep

tools/drivers/*
tools/liquibase/*
tools/terraform/*

!tools/drivers/.gitkeep
!tools/liquibase/.gitkeep
!tools/terraform/.gitkeep

# =====================================================

# Logs

# =====================================================

logs/
*.log

# =====================================================

# Python

# =====================================================

**/**pycache**/
*.pyc
*.pyo
*.pyd

# =====================================================

# IDE

# =====================================================

.vscode/
.idea/

# =====================================================

# OS

# =====================================================

Thumbs.db
.DS_Store
